.navbar {
  border: 1px solid rgb(192, 192, 192);
  padding: 5px;
  background-color: rgb(238, 238, 238);
  border-radius: 8px;
  display: flex;
  /* justify-content: space-between; */
}

/* this code is for navbar logo image and text */

.logo_wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo_wrapper .logoImg img {
  width: 100px;
  border-radius: 8px;
}

.logo_wrapper .logoName {
  width: 150px;
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
}

/* this code is for right section */
.rightSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.upperSection .login_section {
  display: flex;
  gap: 10px;
  justify-content: end;
}

.bottomSection {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
}
/* this code is for navbar elements */

.nav_wrapper {
  gap: 15px;
  display: flex;
  align-items: flex-end;
}

.nav_wrapper li {
  list-style: none;
  font-size: 18px;
  font-weight: 600;
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
  position: relative;
}
.nav_wrapper li:hover .dropdown {
  display: block;
}
.dropdown {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 10px;
  display: none;
  position: absolute;
  left: 0;
  top: 20px;
}
/* this is for search bar */

.search_wrapper {
  gap: 10px;
}

.search_wrapper .inputContainer {
  border: 3px solid rgb(0, 0, 0);
  border-radius: 7px;
  padding: 0 5px;
}

.search_wrapper .inputContainer input {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 18px;
  padding: 4px 7px;
  color: black;
  width: 250px;
}

#micBtn,
#searchBtn {
  cursor: pointer;
  font-size: 18px;
}

/* this code is for language and login register section */

.login_wrapper {
  gap: 5px;
}
.login_wrapper button {
  padding: 8px 20px;
  width: 80px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  outline: none;
  border-radius: 6px;
  border: 1px solid rgb(223, 223, 223);
}

.login_wrapper button:active {
  transform: scale(0.97);
}

#loginBtn {
  background-color: rgb(255, 255, 255);
  color: black;
}
#registerBtn {
  background-color: rgb(47, 113, 211);
  color: white;
}

.language_wrapper {
  border-radius: 6px;
  border: 1px solid rgb(196, 194, 194);
  padding: 2px 10px;
  outline: none;
}
